* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --border-color: rgb(161 161 161);
  --border-color: rgb(214 214 214);
  --color-default: #2f2f2f;
}

body {
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 1rem 5px;
  color: var(--color-default);
  margin: auto;
  background-color: #fafafa;
}

main {
  padding: 1rem;
  background: #eeeeee45;
  background: #f5f3f345;
  border: 1px solid rgb(214 214 214);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  h1 {
    font-size: 1.5rem;
  }

  img {
    width: 96px;
    border-radius: 12px;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 1.25rem;
    }

    img {
      width: 80px;
    }
  }
}

main,
.form {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.form button {
  background: var(--color-default);
  color: white;
  border: 0;
  font-size: 1.25rem;
  font-weight: 600;
  width: 100%;
  margin: 1.5rem 0;
  padding: .75rem;
  border-radius: 6px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 1.25rem 0;
}

.form-control input,
.form-control textarea {
  font-size: 1.125rem;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  outline: none;
  color: #4d4d4d;
}

.form-control label {
  font-weight: 600;
  font-size: 1.125rem;
}

.form-control textarea {
  resize: vertical;
  height: 120px;
}

.modal {
  position: fixed;
  background: #0000006b;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  >div {
    background: white;
    padding: 1rem;

    .modal-content {
      margin-top: 1rem;
      font-size: 18px;
    }

    svg {
      width: 32px;
      height: 32px;
      color: red;
    }
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 1rem;
  text-align: center;
  color: #4d4d4d;

  a {
    color: inherit;
  }
}